<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAVA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
  
  
  
  
    <connectionStrings>
        <add name="CAVA.Properties.Settings.CAVAConnectionString" connectionString="Data Source=ALEXALL;Initial Catalog=CAVA;Persist Security Info=True;User ID=CAVA;Password=AL_alexall_AL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CAVA.Properties.Settings>
            <setting name="u" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="labelName" serializeAs="String">
                <value />
            </setting>
            <setting name="labelTime" serializeAs="String">
                <value />
            </setting>
            <setting name="label4" serializeAs="String">
                <value />
            </setting>
            <setting name="richTextBox1" serializeAs="String">
                <value> CAVA v.4.0  --- ALEX ALL
___________________________</value>
            </setting>
            <setting name="p" serializeAs="String">
                <value />
            </setting>
            <setting name="privint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pp" serializeAs="String">
                <value />
            </setting>
            <setting name="nn" serializeAs="String">
                <value />
            </setting>
            <setting name="tt" serializeAs="String">
                <value />
            </setting>
            <setting name="path2" serializeAs="String">
                <value />
            </setting>
            <setting name="timint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timpr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="result" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proverka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="susername" serializeAs="String">
                <value>Oved3</value>
            </setting>
            <setting name="spassword" serializeAs="String">
                <value>cava36932002</value>
            </setting>
            <setting name="ifo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="instrucint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inspr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="game" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Enter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="load" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Desc" serializeAs="String">
                <value />
            </setting>
            <setting name="r1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="priv" serializeAs="String">
                <value />
            </setting>
            <setting name="pr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="al" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lps" serializeAs="String">
                <value>CAVA</value>
            </setting>
            <setting name="CAVA" serializeAs="String">
                <value />
            </setting>
            <setting name="FC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FPV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPDATE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Close" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="perehod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsNI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Defence" serializeAs="String">
                <value />
            </setting>
            <setting name="LANG" serializeAs="String">
                <value />
            </setting>
            <setting name="RT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Id" serializeAs="String">
                <value>0</value>
            </setting>
        </CAVA.Properties.Settings>
    </userSettings>
</configuration>
